body
{
	background: #112;
	color: #fff;
}

canvas
{
	position: fixed;
	top: 0;
	left: 0;
}

.dot
{
	position: absolute;
	font-size: 40px;
}

.dot-red
{
	color: #f40;
}

.dot-green
{
	color: #0d4;
}

.dot-blue
{
	color: #04f;
}

.dot-yellow
{
	color: #fe4;
}

.dot-purple
{
	color: #d29;
}

.dot-orange
{
	color: #c80;
}
