#editor_box
{
    display: none;
}

#editor
{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 600px;
    background: #111;
    color: #aaa;
    border: none;
    opacity: 0.2;
}

#editor:hover,
#editor:focus
{
    opacity: 1;
}

#editor.parsing
{
    color: #0000cc;
}

#editor.ok
{
    color: #0a0;
}

#editor.failed
{
    color: #cc0000;
}
