body
{
    background: url("picsum.photos_placeholder_424-536x354.jpg");
    font-family: "Segoe UI", serif;
    font-size: 2.2vh;
}
.window
{
    background: rgba(255,255,255,0.5);
    border-radius: 0.2em;
    backdrop-filter: blur(10px);
    width: 20em;
    position: absolute;
    border: 0.2em solid rgba(0,0,0,0.5);
}
.title
{
    /* background: rgba(0,128,192,0.5); */
    background: rgba(0,0,0,0.5);
    color: #ffffff;
    padding: 0.1em 0.3em 0.3em 0.3em;
}
.close
{

}
.body
{
    padding: 0.5em;
    color: #333;
}
.body span
{
    color: #000;
}

@keyframes anim1
{
    0% { color: rgba(255,0,0,0); }
    5% { color: rgba(255,0,0,0.75); }
    10% { color: rgba(255,255,0,0.9); }
    12% { color: rgba(255,255,255,1); }
    80% { color: rgba(255,255,255,1); }
    100% { color: rgba(0,0,0,0); }
}

@keyframes anim2
{
    0% { color: rgba(255,0,0,0); }
    3% { color: rgba(255,255,255,1); }
    15% { color: rgba(255,0,0,1); }
    70% { color: rgba(255,0,0,1); }
    100% { color: rgba(255,0,0,0); }
}

.colorspin1
{
    font-size: 1em;
    animation: anim1 5s infinite;
    animation-timing-function: linear;
}

.colorspin2
 {
     font-size: 1em;
     animation: anim2 2s infinite;
     animation-timing-function: linear;
 }